* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  /* font-family: Inter,sans-serif; */
}

.navbar {
  background-color: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  color: #ff0844;
  /* font-family: Inter,sans-serif; */
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
  text-decoration: none;
}

.navbar__links:hover {
  color: #4837ff;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: 0;
  outline: none;
  border-radius: 4px;
  background-color: #ff0844;
  color: #fff;
  transition: all 0.35s;
}

.button:hover {
  background-color: #4837ff;
  
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background-color: #131313;
    padding-bottom: 2rem;
  }

  .navbar__menu.active {
    background-color: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 80vh;
    font-size: 1.6rem;
}

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translate(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translate(-8px) rotate(-45deg);
  }
}

.main{
    background-color: #191919;
}

.main-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1300px;
    padding: 3rem 50px;
    margin: 0 auto;
}

.hero-img{
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}
.hero-img img{
    width: 500px;
    height: 500px;
}
.hero-text{
    flex-grow: 1;
    flex-basis: 0;
}
.main-content h1{
    font-size: 1.2rem;
    color: red;
    margin-bottom: 1rem;
}
.main-content h2{
    font-size: 3rem;
    color: blue;
    margin-bottom: 1rem;
}
.main-content p{
    font-size: 2rem;
    color: white;
}
.main-content button{
    font-size: 1rem;
    background-color: #ff0844;
    padding: 14px 32px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    width: 50%;
}
.uvod{
    background-color: white;
}
.uvod-content{
    max-width: 1300px;
    padding: 3rem 50px;
    margin: 0 auto;
}
.uvod-content h2{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    
}
.uvod-content p{
    font-size: 1.4rem;
    margin-bottom: 3rem;
    line-height: 1.8em;
    
}

@media screen and (max-width: 960px) {
    .main-content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .hero-img img{
        width: 350px;
        height: 350px;
    }
    .main-content h1{
        font-size: 1.8rem;
    }
    .main-content button{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .main-content{
        padding: 1rem 15px;
    }
    .hero-img img{
        width: 300px;
        height: 300px;
    }
    .main-content h1{
        font-size: 1.4rem;
    }
    .main-content h2{
        font-size: 2rem;
    }
    .main-content p{
        font-size: 1.5rem;
    }
    .uvod-content{
        padding: 1rem 15px;
    }
    .uvod-content h2{
        text-align: left;
        margin: 0;
        margin-bottom: 1.5rem;
        font-size: 2.2rem;
    }

    .uvod-content p{
        font-size: 1.2rem;
    }

}
@media screen and (max-width: 380px) {
    .main-content h1{
        font-size: 1.2rem;
    }
    .main-content h2{
        font-size: 1.8rem;
    }
    .main-content p{
        font-size: 1.3rem;
    }
    .uvod-content h2{
        text-align: left;
        margin: 0;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .uvod-content p{
        font-size: 1rem;
    }
}

.onama{
    background-color: #191919;
}
.onama-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1300px;
    padding: 3rem 50px;
    margin: 0 auto;
}
.onama-img{

    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding-top: 3rem;
}
.onama-img img{
    width: 400px;
    height: 400px;
}
.onama-text{
    flex-grow: 1;
    flex-basis: 0;
}
.onama-content h2{
    color: red;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.onama-content p{
    color: white;
    font-size: 1.4rem;
    line-height: 1.8em;
}
.onama-content span{
    color: #4837ff;
}
@media screen and (max-width: 960px){
    .onama-content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .onama-img img{
        width: 350px;
        height: 350px;
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .onama-img img{
        width: 300px;
        height: 300px;
    }
    .onama-content{
        padding: 1rem 15px;
    }
    .onama-content h2{
        font-size: 2em;
    }
    .onama-img{
        padding: 0;
    }
    .onama-content p{
        font-size: 1rem;
    }
}

.usluge{
    background-color: #fff;
}
.usluge-content{
    max-width: 1300px;
    padding: 3rem 50px;
    margin: 0 auto;
}
.usluge-content h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 4rem;
}
.usluge-content .usluga{
    text-align: center;
}
.usluge-content .usluga h3{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.usluge-content .usluga p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    line-height: 1.8em;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.usluge-content .usluga button{
    font-size: 1rem;
    background-color: #ff0844;
    padding: 14px 32px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 4rem;
}
.usluge-content .usluga-cv button:hover{

}
@media screen and (max-width: 480px) {
    .usluge-content  h2{
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    .usluge-content .usluga h3{
        font-size: 1.5rem;
        
    }
    .usluge-content .usluga p{
        font-size: 1.2rem;
        width: 100%;
    }
}

.jezici{
    background-color: #fff;
}
.jezici-content{
    max-width: 1300px;
    padding: 3rem 50px;
    margin: 0 auto;
}
.jezici-content h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.jezici-content p{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.jezici-img{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}
.jezici-content img{
    width: 200px;
    height: 200px;
}
.jezici-img p{
    margin-bottom: 0;
}
@media screen and (max-width: 960px) {
    .jezici-content{
        padding: 0rem 50px;
    }
    .jezici-content h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .jezici-content p{
        font-size: 1.3rem;
    }
    .jezici-content img{
        width: 120px;
        height: 120px;
    }
    .jezici-img{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.paketi{
    background-color: #191919;
}
.paketi-content{
    max-width: 1300px;
    padding: 3rem 50px;
    margin: 0 auto;
}
.paketi-content h4{
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}
.paketi-content h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.paketi-box{
    display: flex;
    justify-content: space-evenly;
}
.paket-cv{
    background-color: white;
    width: 25%;
    height: 400px;
    padding: 2rem 1rem;
    position: relative;
    margin-bottom: 4rem;
}
.paket-cv h3{
    text-align: center;
    font-size: 2rem;
}
.paket-cv button{
    font-size: 1rem;
    background-color: #ff0844;
    padding: 14px 32px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: all 0.35s;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.placanje{
    background-color: #fff;
}

.placanje-content{
    max-width: 1300px;
    padding: 3rem 50px;
    margin: 0 auto;
}
.placanje-content h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.placanje-content p{
    font-size: 2rem;
    margin-bottom: 1.4rem;
}
.placanje-content span{
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}
.uplatnica{
    text-align: center;
    padding: 2rem;
    background-color: #131313;
}
.uplatnica img{
    width: 800px;
    height: 300px;
}

@media screen and (max-width: 960px) {
    .paketi-content h4{
        font-size: 2.8rem;
        margin-bottom: 3rem;
    }
    .paketi-content h2{
        font-size: 1.9rem;
    }
    .paketi-box{
        display: flex;
        flex-direction: column;
    }
    .paket-cv{
        width: 100%;
        height: 400px;
        padding: 2rem 1rem;
        position: relative;
        margin-bottom: 4rem;
    }
    .paket-cv h3{
        font-size: 1.5rem;
    }
    
}
.contact{
    background-color: #131313;

}
.contact-content{
    max-width: 1300px;
    padding: 3rem 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.contact-text{
    flex-grow: 2;
    flex-basis: 0;
    margin-top: 4rem;
}
.contact-text h2{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.contact-text span{
    color: #4837ff;
    font-size: 1.5rem;
}
.contact-text p{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.contact-text h4{
    color: #fff;
}
.contact-mail{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin-bottom: 2rem;
}
.mail-ikonica{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail-text{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-mail p{
color: #191919;
font-size: 1.2rem;
margin-bottom: .5rem;   
}
.contact-mail span{
    font-size: 1.2rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}
.contact-form h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 300;
}
.contact-form input{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    height: 38px;
}
.contact-form input:focus{
    outline: none;
}
.contact-form textarea{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 1rem;
}
.contact-form textarea:focus{
    outline: none;
}
.contact-form button{
    font-size: 1rem;
    background-color: #ff0844;
    padding: 14px 32px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: all 0.35s;
}
@media screen and (max-width: 960px) {
    .contact-content{
        padding: 3rem 20px;
        display: flex;
        flex-direction: column;
    }
    .contact-text{
        text-align: center;
    }
    .contact-mail{
        width: 100%;
        margin-bottom: 3rem;
    }
    .contact-text h2{
        color: #fff;
        font-size: 2.5rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    .contact-text h4{
        display: none;
    }
}
